@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" csstyle="btn-group-vertical text-muted">
    <h1 class="display-4">Bienvenida Reina Galiti </h1>
    <img src="~/img/cat.png"/>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
